  ServerName {{ item.name }}
  {% for value in item.aliases|default([]) %}
  ServerAlias {{ value }}
  {% endfor %}

  # --- rules ----------------------------------------------------------------

  {% for val in item.rules|default([]) %}
  include rules/{{ val }}.conf
  {% endfor %}

  # --- directories -----------------------------------------------------------

  DocumentRoot /var/www/{{ item.id }}/{{ apache2_vhost_web_root_folder }}
  <Directory /var/www/{{ item.id }}/{{ apache2_vhost_web_root_folder }}>
    AllowOverride All
    Options FollowSymLinks
    Order allow,deny
    Allow from all
  </Directory>

  {% if item.auth is defined %}
  # --- auth ------------------------------------------------------------------

  {% include "etc-apache2-sites-available-site/htpasswd.j2" %}
  {% endif %}

  # --- logging ---------------------------------------------------------------

  LogLevel warn
  ErrorLog  /var/log/apache2/{{ item.id }}/error.log
  CustomLog /var/log/apache2/{{ item.id }}/access.log combined

  {% if item.append is defined %}

  # --- appended --------------------------------------------------------------

  {{ item.append }}
  {% endif %}

